@import 'scss/variables';
@import 'scss/mixins';
@import 'scss/colors';

body{
font-family: "Open Sans";
}


//Override styles

.panel.panel-default{
  width:$width;
  margin-bottom: 100px;
}

.space-div{
  height:75px;
  border-top:1px solid #e6e6e6;
}

#search-box{
  background-color: #f0f7fe;
  box-shadow: none;
  width: 140px;
  float: right;
  border:none;
  padding: 20px;
}

.font-small{
  font-size: $font-small;
}

.color-blue{
  color: mediumblue;
}

.font-medium{
  font-size: $font-medium;
}

.full-border{
  border:3px solid #e6e6e6;
}

.error-msg{
  background-color: #ffe6e6;
  padding: 3px;
  width: 120px;
  font-size: 12px;
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  color: #ff1a1a;
  margin-bottom: 0px;
  float: right;

}

.margin-style{
  margin-bottom: 55px;
}

.glyphicon .glyphicon-search{
  color:#23527c;
  font-size: 16px;
}

.text-box-padding{
  padding: 25px;
}

#txtUsername, #txtPwd{
  padding: 25px;
}


//Checkbox override

.checkbox{
  padding: 0;
}

.checkbox label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #05549f;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
 // margin-right: .5em;

  background-color: #05549f;

}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
  color: #fff;
}

.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
 // opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
  //opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
 // opacity: .5;
}

.checkbox label, .radio label {
  min-height: 20px;
  padding-left: 0px;
  margin-bottom: 0;
  cursor: pointer;

}





